#page-wrap:after  { content: "Wide Layout"; }
nav               { float: left; width: 15%; height: 100%; }

section           { float: right; width: 80%; height: 100%; }
footer            { clear: both; display: block;}
